<nav class="navbar">
	<div class="page-header">
		<h1>Food Application Admin View</h1>
	</div>
	<div class="col-xs-12 ribbon">
		<div class="col-xs-2">
			<a routerLink="/foodapplication/foodworld/UI/admin/Restaurants" routerLinkActive="active">Restaurants</a>
		</div>
		<div class="col-xs-2">
			<a routerLink="/foodapplication/foodworld/UI/admin/Orders" routerLinkActive="active">Orders</a>
		</div>
		<div class="col-xs-2">
			<a routerLink="/foodapplication/foodworld/UI/admin/Users" routerLinkActive="active">Users</a>
		</div>
	</div>
</nav>
<router-outlet></router-outlet>
